@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
	background-color: #161616;
	font-family: "Lato", sans-serif;
	margin: 0px;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 20px;
}

img {
	width: 40%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

h1{
	text-align: center;
	color: white;
	margin: 40% auto;
}

h2 {
	margin-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

hr {
	margin-top: -6%;
	width: 90%;
}

/*HEADER *****************************************************************/

#gamePad {
	position: absolute;
	float: left;
	width: 50px;
}

#Header {
	background-color: #1E1E1E;
	padding-top: 10px;
	border-bottom: 2px solid #D4B116;
}

#mainContent {
	z-index: 0;
	height: 88%;
	width: 100%;
	position: absolute;
	background-image: url('photos/mario-gif-animated.gif');
	background-size: cover;
}

/*NAVBAR *****************************************************************/

#sideNav {
	z-index: 1;
	position: absolute;
	width: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
}

a {
	text-decoration: none;
	color: black;
}

.box {
	text-align: center;
	border-bottom: 2px solid black;
	color: #827F7F;
	padding-top: 15px;
}

.box:hover {
	background-color: white;
	cursor: pointer;
	color: black;
	border-radius: 2px;
}

#bottomBox {
	border-top: 2px solid black;
	position: fixed;
	bottom: 0;
	width: 190px;
	background-color: green;
	color: black;
}

#bottomBox:hover {
	background-color: white;
}

.half {
	font-size: .5em;
	position: absolute;
	margin-left: 40%;
	margin-top: 5%;
	/*background-color: green;*/
}

/*SECONDARY SIDE NAVBARS **************************************************/

#systemNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}

#topBox {
	/*border-top: 2px solid black;*/
}

.topBoxSelected {
	color: black;
	background-color: white;
}

#genreNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}

#genreBox {
	/*border-top: 2px solid black;*/
}

.genreBoxSelected {
	color: black;
	background-color: white;
}

#developerNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}

#developerBox {
	/*border-top: 2px solid black;*/
}

.developerBoxSelected {
	color: black;
	background-color: white;
}

#franchiseNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}

#franchiseBox {
	/*border-top: 2px solid black;*/
}

.franchiseBoxSelected {
	color: black;
	background-color: white;
}

#engineNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}

#engineBox {
	/*border-top: 2px solid black;*/
}

.engineBoxSelected {
	color: black;
	background-color: white;
}

#publisherNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}
#publisherBox {
	/*border-top: 2px solid black;*/
}

.publisherBoxSelected {
	color: black;
	background-color: white;
}

#launchNav {
	z-index: 1;
	position: absolute;
	width: 170px;
	margin-left: 190px;
	float: left;
	height: 88%;
	background-color: #161616;
	visibility: hidden;
	overflow-x: scroll;
}

#launchBox {
	/*border-top: 2px solid black;*/
}

.launchBoxSelected {
	background-color: white;
	color: black;
}

/*GRID SYSTEM *************************************************************************/

.listhover:hover {
	color: black;
	cursor: pointer;
}

#listOutside {
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 3%;
}

.grid {
	border: 2px solid #093275;
}

.wrapper { 
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: 200px; 
  color: white;
  border: 2px solid #093275;
  text-align: center;
} 

.wrapperGAMELIST {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  color: white;
  text-align: center;
}

#gamebox0 {
  background-color: #363636;
  height: 225px;
  text-align: center;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox0:hover {
	background-color: white;
}
#gamebox1 { 
  background-color: #363636;
  height: 225px;
  text-align: center;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox1:hover {
	background-color: white;
}

#gamebox2 { 
  background-color: #363636; 
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox2:hover {
	background-color: white;
}

#gamebox3 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox3:hover {
	background-color: white;
}

#gamebox4 { 
  background-color: #363636; 
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox4:hover {
	background-color: white;
}

#gamebox5 { 
  background-color: #363636;
  height: 225px; 
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox5:hover {
	background-color: white;
}

#gamebox6 { 
  background-color: #363636; 
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox6:hover {
	background-color: white;
}

#gamebox7 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox7:hover {
	background-color: white;
}

#gamebox8 { 
  text-align: center;
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox8:hover {
	background-color: white;
}
#gamebox9 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox9:hover {
	background-color: white;
}
#gamebox10 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox10:hover {
	background-color: white;
}
#gamebox11 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox11:hover {
	background-color: white;
}

#gamebox12 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox12:hover {
	background-color: white;
}
#gamebox13 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox13:hover {
	background-color: white;
}
#gamebox14 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox14:hover {
	background-color: white;
}
#gamebox15 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox15:hover {
	background-color: white;
}
#gamebox16 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox16:hover {
	background-color: white;
}
#gamebox17 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox17:hover {
	background-color: white;
}
#gamebox18 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox18:hover {
	background-color: white;
}
#gamebox19 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox19:hover {
	background-color: white;
}
#gamebox20 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox20:hover {
	background-color: white;
}
#gamebox21 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox21:hover {
	background-color: white;
}
#gamebox22 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox22:hover {
	background-color: white;
}
#gamebox23 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox23:hover {
	background-color: white;
}
#gamebox24 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox24:hover {
	background-color: white;
}
#gamebox25 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox25:hover {
	background-color: white;
}
#gamebox26 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox26:hover {
	background-color: white;
}
#gamebox27 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox27:hover {
	background-color: white;
}
#gamebox28 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox28:hover {
	background-color: white;
}
#gamebox29 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox29:hover {
	background-color: white;
}
#gamebox30 { 
  background-color: #363636;
  height: 225px;
  border-radius: 2px;
  border-right: 2px solid #D4B116;
}
#gamebox30:hover {
	background-color: white;
}

/*LIST PAGE LAYOUT *********************************************************************************/

#imgInfo {
	height: 100%;
	overflow-x: hidden;
}

#imgInfoGamelist {
	height: 75%;
	overflow-x: hidden;
}

#listTitle {
	margin-top: 4%;
	font-size: 3em;
}

#ListBody {
  margin-top: 5%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
}

header {
  grid-column: 1 / span 2;
}

/* Demo Specific Styles */
#ListBody {
  margin: 0 auto;
  max-width: 64em;
  padding: 2em 0;
}

aside {
	padding-top: 0%;
	padding-left: 5%;
}

header,
main,
aside {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: #363636;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #D4B116;
}
header {
	text-align: center;
}

main {
	padding-top: 2%;
	padding-bottom: 2%;
}

.gameInfo {
	font-size: 1.2em;
}

.fa {
	color: white;
	font-size: 4em;
}

#home {
	margin-top: 2%;
	margin-left: 2.5%; 
	color: #a8a8a8;
	font-size: 4em;
	position: fixed;
}

#home:hover {
	color: white;
	cursor: pointer;
}

