body {
	background-image: url("back1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}

hr {
	margin-top: -3%;
	margin-right: 13%;
	height: 8px;
	background-color: orange;
	animation: slide 3s;
}

@keyframes slide {
  from { 
  	width: 0%;
  }
  to   { 
  	width: 45%;

  }
}

